:root {
    --gray: #979797;
    --selected: #d4f5ff;
    --background: #ffffff;
    --background-alt: #f9f9fa;
    --todo-color-completed: #838B8B;
    --todo-color-priority: #597EA7;
    --todo-color-due: #E46D8A;
    --todo-color-keyval: #E46D8A;
    --todo-color-project: #A1E46D;
    --todo-color-context: #aaa;
}

html, body {
    width: 374px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    padding: 2px 4px;
}

body ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body li {
    padding: 4px 0;
    overflow-wrap: normal;
}

body li:nth-child(odd) {
    background-color: var(--background);
    text-decoration-style: none;
}

body li:nth-child(even) {
    background-color: var(--background-alt);
    text-decoration-style: none;
}

.input-area {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 4px;
    padding-bottom: 4px;
}

.input-area input, .input-area button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid var(--gray);
    background: none;
    display: inline;
}

.input-area input {
    padding: 4px;
}

ol li.selected {
    background-color: var(--selected);
}

.hidden {
    display: none;
}

.message {
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

/*  SYNTAX HIGHLIGHTING */
.color-project {
    color: var(--todo-color-project);
}
.color-context{
    color: var(--todo-color-context);
    font-style: italic; 
}
.color-kvpair {
    color:var(--todo-color-keyval);
    font-weight: 400;
}
.color-priority{
    color:var(--todo-color-priority);
}
.color-completed {
    text-decoration: line-through;
    color: var(--todo-color-completed);
}
